@model List<NewsModel>

@* do null checks on each return*@

<h1>News</h1>







    @foreach(var item in Model)
    {
        <br/>
        <table class="newsTable">
            <tr>
                    <th><a id="title" href="@item.Url">@item.Title</a></th>
                    <td><div id="banner"><img id="pic" src="@item.Banner_image" /></div></td>
            </tr>
        <br/>
        </table>
        
    }
