@model List<NewsModel>

@* do null checks on each return*@

<h1>News</h1>






<div class="block"> 
    @foreach(var item in Model)
    {
        <div class="pagealign"><table class="table">
                    <th scope="row"><a id="title" href="@item.Url">@item.Title</a></th>
                    <td><div id="banner"><img id="pic" src="@item.Banner_image" /></div></td>
                </table>
        </div> 
    }
</div>

    