

<div>Search</div>

<div class="row">
    <form asp-controller="Home" asp-action="DisplayStock">
        <div id="searchbar" class="input-group mb-3">
            <input type="text" name="stock" class="form-control" placeholder="Search Stocks">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </div>
    </form>


</div>

<!-- HTML code -->
<input type="text" id="searchBar" name="term"/>

<!-- Include the jQuery and jQuery UI libraries -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<!-- Initialize the autocomplete widget -->
<script>
  $(document).ready(function() {
    $("#searchBar").autocomplete({
      source: function(request, response) {
        // Make an AJAX request to the server-side action method to retrieve the list of suggestions
        $.ajax({
          url: "@Url.Action("GetSuggestions", "MyController")",   // Replace "MyController" with the name of your controller and "GetSuggestions" with the name of your action method
          dataType: "json",
          data: { term: request.term },
          success: function(data) {
            // Pass the list of suggestions to the "response" function to populate the autocomplete dropdown
            response(data);
          }
        });
      },
      select: function(event, ui) {
        // When the user selects a suggestion, store the selected value in the search bar
        $("#searchBar").val(ui.item.value);
        return false;
      }
    });
  });
</script>
