<h1>Tips and Tutorials</h1>
<br/>


<p class="opt">Stock options are contracts that give employees the right to buy or exercise shares of company stock at 
    the grant price, which is a pre-set price. The grant price may also be called the strike price or the exercise
    price. Purchasing stock options is a time-limited benefit that has a deadline stated in the contract.</p>
    <br/>


<p class="opt">What are the 4 types of options?
There are four basic options positions: buying a call option, selling a call option, buying a put option,
and selling a put option. With call options, the buyer is betting that the market price of an underlying asset 
will exceed a predetermined price, called the strike price, while the seller is betting it won't.</p>
<br/>

<p class="opt">First things first, let’s find out what this heavy options related jargon means. So what are option trading strategies?
Option Trading Strategies refer to buying calls or put options or selling calls or put options or both together for the purpose
of limiting losses and gaining unlimited profits. Basically, utilising one or more combinations for the best outcome possible
based on our defined parameters. Call options give the holder the right but not an obligation to buy the underlying stock 
whereas put options give the owner the right, but not the obligation, to sell the underlying stock at a pre-determined price
by a set expiration time. Option Trading Strategies can be classified into bullish, bearish or neutral option trading strategies.
Sounds interesting until here? Well, there’s more to get your excitement levels up. Presenting to you 12 types of option trading
strategies every trader should know and can use to level up the game of their option in the stock market!</p>

<br/>

<h2>12 types of option trading strategies:</h2>
<br/>
<h3>Bullish Options Strategies</h3>
<br/>

@*#1*@
<h4>1. Bull Call Spread</h4>
<br/>
<p class="opt">A bull call spread is one of the bullish options strategies that involve buying one At-The-Money (ATM) call option and 
    selling the Out-Of-The-Money call option.<br/>
    <br/>
One should note that both the calls should have the same underlying stock and the same expiration date. <br/>
<br/>
In this strategy, profit is made when the price of the underlying stock increase which is equal to spread minus net debit 
and loss is incurred when the stock price falls which is equal to the net debit. Net Debit is equal to the Premium Paid for 
a lower strike minus the Premium Received for a higher strike. The Spread refers to the difference between the higher and 
lower strike price <br/>
<br/>
Bull Call Spread helps in protecting when the prices fall and the profit amount is also limited.</p>
<br/>

<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op1-1024x503.png" />

<br/>

<p class="opt">From the above example from elearnoptions, we can say that both the profit and loss are capped.
    <br/>
    <br/>
This strategy is a great alternative to just buying a call option when the traders are not aggressively
bullish on a stock. </p>
<br/>

@*#2*@

<h4>2. Bull Put Spread</h4>
<br/>
<p class="opt">Bull Put Spread is one of the bullish options strategies that options traders can implement when they are a little bullish on the underlying asset’s movement.
<br/>
This strategy is similar to the bull call spread in which instead of buying calls we buy puts. This strategy involves buying 1 OTM Put option and selling 1 ITM Put option.
</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op2-1024x464.png"/>
<br/>
<p class="option">One should note that both puts should have the same underlying stock and also the same expiration date.
<br/>
A bull put spread is formed for a net credit or net amount received and it incurs profit from a rising stock price that is limited to the net credit received, on the other hand, the potential loss is limited and occurs when the price of the stock falls below the strike price of the long put.</p>
<br/>

@*#3*@

<h4>3. Call Ratio Back Spread</h4>
<br/>
<p class="option">The Call Ratio Back Spread is one of the simplest options strategies and this strategy is implemented when one is very bullish on a stock or index.
<br/>
In this strategy, traders can make unlimited profits when the market goes up and limited profits if the market goes down. The loss is made only if the market stays within a specific range. In other words, traders can make a profit when the market moves in either direction.
<br/>
<br/>
This strategy is a 3 leg strategy that consists of buying two OTM call options and selling one ITM call option.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op3.png"/>
<br/>
<p class="option">We can see from the above P/L diagram that we make profits when the price goes in either of the directions.</p>
<br/>

@*#4*@

<h4>4. Synthetic Call </h4>
<br/>
<p class="option">A Synthetic Call is one of the bullish options strategies used by those traders who have a bullish view of the stock for the long term but are also worried about the downside risks at the same time. This strategy offers unlimited potential profits with limited risk.
<br/>
The strategy involves buying put options of the stock that we are holding and on which we have a bullish view. If the price of the underlying rises, then we shall make profits whereas if the price falls then the loss will be limited to the premium that is paid for the put option. This strategy is similar to the Protective Put options strategy.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-4-1024x508.png" />
<br/>
<p class="option">From the above payoff diagram, we can see the risk is limited to the premium, whereas the potential profit is unlimited.
<br/>
Well, the world works on demand and supply, and so does the stock market. When you see people flying high during a bullish market, there is always a lot looking at bearish option trading strategies. There is always a group of “Manu Mandoriyas” (Reference: Scam 1992) hoping for a downside. So, let’s take the discussion further and look at bearish option strategies.</p>
<br/>
<h3>Bearish Options Strategies</h3>
<br/>

@*#5*@

<h4>5. Bear Call Spread</h4>
<br/>
<p class="option">The Bear Call Spread is one of the 2-leg bearish options strategies that is implemented by the options traders with a ‘moderately bearish’ view on the market.
<br/>
This strategy involves buying 1 OTM Call option i.e a higher strike price and selling 1 ITM Call option i.e. a lower strike price. One should note that both the calls should have the same underlying stock and also the same expiration date.
<br/>
A bear call spread is formed for the net credit and profits are made from this strategy when the stock prices fall. The potential profit is limited to the net credit and potential loss is limited to the spread minus net credit. The Net Credit equals the Premium Received minus the Premium Paid.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-5-1024x506.png" />
<br/>
<p class="option">From the above P/L diagram, we can see that this strategy involves limited gains which are equal to the net credit and loss is limited which is equal to the spread minus the net credit.</p>
<br/>

@*#6*@

<h4>6. Bear Put Spread</h4>
<br/>
<p class="option">This strategy is quite similar to the Bull Call Spread and also quite easy to implement. Traders would implement this strategy when the view of the market is moderately bearish, i.e when the traders are expecting the market to go down but not too much.
<br/>
Bear Put Spread strategy involves buying the ITM Put option and selling the OTM Put option. One should note that both the puts should have the same underlying stock and the same expiration date. This strategy is formed for a net debit or net cost and profits as the underlying stock falls in price.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-6-1024x511.png" />
<br/>
<p class="option">From the above diagram, we can say that the profit is limited and equal to the spread minus the net debit and the loss is equal to net debit. The Net Debit equals the Premium Paid minus Premium Received.</p>
<br/>

@*#7*@
<h4>7. Strip</h4>
<br/>
<p class="option">A strip is one of the bearish to neutral options strategies that involve buying 1 ATM Call and 2 ATM Puts.
<br/>
One should note that these options should be bought on the same underlying, and also with the same strike price and same expiry date.
<br/>
Traders can earn profits when the price of the underlying stock price makes a strong move in the up or down direction at the time of expiration, but generally, huge profits are earned when the prices move down.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-7-1024x464.png" />
<br/>
<p class="option">As we can see from the above example, the maximum profit is unlimited and the total loss associated with this strategy is limited to the net premium paid.</p>
<br/>

@*#8*@
<h4>8. Synthetic Put</h4>
<br/>
<p class="option">Synthetic put is one of the bearish options strategies that is implemented when investors have a bearish view of the stock and are concerned about potential near-term strength in that stock.
<br/>
The profit from this strategy is made when there is a decline in the underlying stock’s price, which is why this strategy is also known as the synthetic long put.
<br/>
The synthetic long put is so named as this strategy has the same profit potential as long put.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-8-1024x540.png" />
<br/>
<p class="option">From the above example, we can see that the maximum profit is unlimited and the maximum loss.
<br/>
So, we’ve seen bullish and bearish options strategies, but what about those with no stance? There are always a bunch of people who don’t see any clear one-sided direction in the near term and want to remain unaffected by the same. There are neutral options strategies for such views where profits don’t depend on the market direction.’</p>
<br/>
<h3>Neutral Options Strategies</h3>
<br/>

<h3>Neutral Options Strategies</h3>

@*#9*@

<h4>9. Long & Short Straddles</h4>
<br/>
<p class="option">The long straddle options strategy is one of the simplest market-neutral option trading strategies to implement, and when implemented, the P&L is not affected by the direction in which the market moves.
<br/>
This strategy involves buying the ATM Call and Put options. One should note that both the options should belong to the same underlying, should have the same expiry and also belong to the same strike.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-9-1024x477.png" />
<br/>
<p class="option">As we see from the above image, the profits are unlimited and the loss is limited.

Short Straddle involves selling the ATM Call and Put option as opposed to Long Straddle. Here, the profit is equal to the total premium received and maximum loss is unlimited as shown below:</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-10-1024x481.png" />
<br/>

@*#10*@

<h4>10. Long & Short Strangles</h4>
<br/>
<p class="option">The options strategies strangle is similar to the straddle but the only difference between them is that- in a straddle, we are required to buy call and put options of the ATM strike price whereas the strangle involves buying OTM call and put options.
<br/>
Long Strangle involves buying one OTM put and one OTM call option. Here, the profit is unlimited and the maximum loss is equal to the net premium flow.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-111-1024x497.png" />
<br/>
<p class="option">Whereas the Short Strangle involves selling a put and call OTM options. From the below example, we can see that the maximum loss is unlimited as the price rises or falls and the maximum profit is equal to the total premium received.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-12-1024x480.png" />
<br/>

@*#11*@

<h4>11. Long & Short Butterfly</h4>
<br/>
<p class="option">A butterfly spread is one of the neutral options strategies that combine bull and bear spreads, with a fixed risk and limited profit. The options with higher and lower strike prices have the same distance from the at-the-money options.
<br/>
The long butterfly call spread involves: Buying one ITM call option, writing two ATM call options, and then buying one OTM call option.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-13-1024x535.png" />
<br/>
<p class="option">The short butterfly spread strategy involves selling one in-the-money call option, buying two at-the-money call options, and selling an out-of-the-money call option.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-14-1024x523.png" />
<h3>Neutral Options Strategies</h3>
<br/>

@*#12*@

<h4>12. Long & Short Iron Condor</h4>
<br/>
<p class="option">An iron condor is one of the options strategies that consists of two puts (one long and one short) and two calls (one long and one short), and four strike prices. All must have the same expiration date.</p>
<br/>
<img class="option" src="https://www.elearnmarkets.com/blog/wp-content/uploads/2021/09/op-15-1024x530.png" />
<br/>
<p class="option">The maximum profit is incurred when the underlying asset closes between the middle strike prices at expiration.</p>
<br/>

<br/>